<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mitr&display=swap" rel="stylesheet">
<div class="content">
    <div class="content-home">
        <div class="grid grid-nogutter">
            <div class="col-6 md:col-6 lg:col-3">
                <div class="Show-number">
                    <div class="flex flex-column">
                        <div class="reward-number">รางวัลที่ 1</div>
                        <div class="number">727202</div>
                        <div class="reward">รางวัลละ 6,000,000 บาท</div>
                    </div>
                </div>
            </div>
            <div class="col-6 md:col-6 lg:col-3">
                <div class="Show-number">
                    <div class="flex flex-column">
                        <div class="reward-number">รางวัลที่ 1</div>
                        <div class="number">727202</div>
                        <div class="reward">รางวัลละ 6,000,000 บาท</div>
                    </div>
                </div>
            </div>
            <div class="col-6 md:col-6 lg:col-3">
                <div class="Show-number">
                    <div class="flex flex-column">
                        <div class="reward-number">รางวัลที่ 1</div>
                        <div class="number">727202</div>
                        <div class="reward">รางวัลละ 6,000,000 บาท</div>
                    </div>
                </div>
            </div>
            <div class="col-6 md:col-6 lg:col-3">
                <div class="Show-number">
                    <div class="flex flex-column">
                        <div class="reward-number">รางวัลที่ 1</div>
                        <div class="number">727202</div>
                        <div class="reward">รางวัลละ 6,000,000 บาท</div>
                    </div>
                </div>
            </div>
        </div>
        <h1>ข่าวสารสลากวันนี้</h1>
    
        <div class="blog-wrapper">
            <div class="blog-card">
                <div class="card-img"><img src="../../assets/1696074819_80fc9ad463a4e1cc68db.jpg">
                    
                </div>
                <div class="card-details"><span><i class="fa fa-calendar"></i>AUG 4</span><span><i class="fa fa-heart"></i>102</span></div>
                <div class="card-text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Si verbum sequimur, primum longius verbum praepositum quam bonum.</p></div>
                <div class="read-more">Read More</div>
            </div>
            <div class="blog-card">
                <div class="card-img"><img src="../../assets/1696074819_80fc9ad463a4e1cc68db.jpg">
                    
                </div>
                <div class="card-details"><span><i class="fa fa-calendar"></i>AUG 1</span><span><i class="fa fa-heart"></i>265</span></div>
                <div class="card-text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Si verbum sequimur, primum longius verbum praepositum quam bonum.</p></div>
                <div class="read-more">Read More</div>
            </div>
            <div class="blog-card">
                <div class="card-img"><img src="../../assets/1696074819_80fc9ad463a4e1cc68db.jpg">
                    
                </div>
                <div class="card-details"><span><i class="fa fa-calendar"></i>AUG 1</span><span><i class="fa fa-heart"></i>265</span></div>
                <div class="card-text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Si verbum sequimur, primum longius verbum praepositum quam bonum.</p></div>
                <div class="read-more">Read More</div>
            </div>
            <div class="blog-card">
                <div class="card-img"><img src="../../assets/1696074819_80fc9ad463a4e1cc68db.jpg">
                   
                </div>
                <div class="card-details"><span><i class="fa fa-calendar"></i>AUG 1</span><span><i class="fa fa-heart"></i>265</span></div>
                <div class="card-text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Si verbum sequimur, primum longius verbum praepositum quam bonum.</p></div>
                <div class="read-more">Read More</div>
            </div>
            <div class="blog-card">
                <div class="card-img"><img src="../../assets/1696074819_80fc9ad463a4e1cc68db.jpg">
                   
                </div>
                <div class="card-details"><span><i class="fa fa-calendar"></i>AUG 1</span><span><i class="fa fa-heart"></i>265</span></div>
                <div class="card-text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Si verbum sequimur, primum longius verbum praepositum quam bonum.</p></div>
                <div class="read-more">Read More</div>
            </div>
            <div class="blog-card">
                <div class="card-img"><img src="../../assets/1696074819_80fc9ad463a4e1cc68db.jpg">
                   
                </div>
                <div class="card-details"><span><i class="fa fa-calendar"></i>AUG 1</span><span><i class="fa fa-heart"></i>265</span></div>
                <div class="card-text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Si verbum sequimur, primum longius verbum praepositum quam bonum.</p></div>
                <div class="read-more">Read More</div>
            </div>
        </div>
</div>
